.filter_block {
    user-select: none;
    margin-right: 2vh;
}

@media (max-width: 480px) {
    .filter_block {
        margin-top: 2vh;
    }
}

.filter_block div {
    padding: 1vh;
    border-radius: 1vh;
    color: white;
}

.filter_block .is_not {
    background: #C4B4F0;
}

.filter_block .is_changed {
    background: #7B62C3;
}